<%- include('partials/header', { title: "Admin Panel", stylePaths: [] }) %>

<%- include('partials/navbar', { title: "Admin Panel", isAdmin: isAdmin, path: path }) %>

<main>
  <nav aria-label="Breadcrumb" class="uk-margin-left uk-margin-right uk-margin-top">
    <ul class="uk-breadcrumb">
        <li><a href="/admin-panel">Settings</a></li>
        <li><span aria-current="page">Manage verification</span></li>
    </ul>
  </nav> 
  <div class="uk-section">
    <div class="uk-margin-left uk-margin-right">
      <h2>Welcome to the admin panel.</h2>
      <p>Here you can manage the user verification</p>
    </div>
  </div>
  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-margin-left uk-margin-right">
      <h2>Users</h2>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
          <thead>
            <tr>
              <th class="uk-table-shrink"></th>
              <th>Username</th>
              <th>Email</th>
              <th>Tenant</th>
              <th>Verified</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => { %>
            <tr>
              <td>
                <div
                  class="uk-flex uk-flex-center uk-flex-middle"
                  style="
                    width: 40px;
                    height: 40px;
                    background-color: coral;
                    border-radius: 50%;
                  "
                >
                  <%= user.name.toUpperCase().charAt(0) %>
                </div>
              </td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.tenant %></td>
              <td>
                <input class="uk-checkbox" type="checkbox" aria-label="Checkbox"
                <%= user.verified ? 'checked' : '' %> data-userId="<%= user.id
                %>" <%= user.id === currentUser.id ? 'disabled' : '' %> />
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
      const disabled = checkbox.hasAttribute("disabled");
      if (!disabled) {
        checkbox.addEventListener("change", async (event) => {
          try {
            const userId = event.target.getAttribute("data-userId");
            const response = await fetch("/admin-panel/update-verified", {
              redirect: "follow",
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                verified: event.target.checked,
                userId: userId,
                _csrf: "<%= csrfToken %>",
              }),
            });
            const json = await response.json();
            if (response.ok) {
              UIkit.notification({
                message: json.message || "User verified successfully.",
                timeout: 5000,
              });
            } else {
              UIkit.notification({
                message:
                  json.message ||
                  "An error occurred while trying to verify the user.",
                timeout: 5000,
                status: "danger",
              });
            }
          } catch (error) {
            UIkit.notification({
              message: "An error occurred while trying to verify the user.",
              timeout: 5000,
              status: "danger",
            });
          }
        });
      }
    });
  });
</script>

<%- include('partials/notification', { errorMessage: errorMessage, infoMessage: infoMessage }) %> <%-
include('partials/footer') %>
