<%- include('partials/header', { title: 'Home', stylePaths: ['/public/css/register.css'] }) %>

<%- include('partials/navbar', { title: "Admin Panel", isAdmin: isAdmin, path: path }) %>

<main>
  <div class="uk-section">
    <div class="uk-margin-medium">
      <div class="uk-container">
        <h1>Welcome to the Home Page, <%= name %> (<%= tenant %>)</h1>
        <p>This is the content of the home page.</p>
    </div>
    </div>
    <div class="uk-margin-medium">
      <div class="uk-container">
      <h2>Posts</h2>
      <% if(posts && posts.length) { %> <% posts.forEach(post => { %>
        <div class="uk-margin uk-card uk-card-default uk-width-1-1">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <div
                  class="uk-flex uk-flex-center uk-flex-middle"
                  style="
                    width: 40px;
                    height: 40px;
                    background-color: coral;
                    border-radius: 50%;
                  "
                >
                  <%= post.user.name.toUpperCase().charAt(0) %>
                </div>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  <%= post.title %>
                </h3>
                <p class="uk-text-meta uk-margin-remove-top">
                  <%= post.user.name %>
                </p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p><%= post.content %></p>
          </div>
        </div>
      <% }) %> <% } else { %>
        <p>No posts available</p>
      <% } %>
      </div>
    </div>
  </div>
  <!-- Create post form -->
  <div class="uk-section">
    <div class="uk-container">
      <h3>Create a new post</h3>
      <form class="uk-form uk-form-stacked" action="/post" method="POST">
        <div class="uk-margin">
          <label class="uk-form-label" for="title">Title: <span class="required-star">*</span></label>
          <div class="uk-form-controls"><input class="uk-input" type="text" id="title" name="title" required /></div>
        </div>
        <div class="uk-form-label" class="uk-margin">
          <label class="uk-form-label" for="content">Message: <span class="required-star">*</span></label>
          <div class="uk-form-controls"><textarea class="uk-textarea" name="content" id="content" required></textarea></div>
        </div>
        <div class="uk-margin">
          <div class="uk-form-controls"><button class="uk-button uk-button-primary" type="submit">Create Post</button></div>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      </form>
    </div>
  </div>
</main>

<%- include('partials/notification', { errorMessage: errorMessage, infoMessage: infoMessage }) %>

<%- include('partials/footer') %>
